.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-header {
    font-weight: normal;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}