/* You can add global styles to this file, and also import other style files */
body {
    width: 400px;
    margin: 80px auto;
}

.header {
    color: orangered;
    font-weight: bold;
}

.error {
    font-family: monospace;
    color: red;
    width: 80%;
    text-align: right;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
